{% extends 'base.html' %}
{% block content %}
<div class="page-header">
  <h1>Reporte por cursos</h1>
</div>
<div class="wrapper">
  <form action="" id="the-form" role="form" method="post" class="form-inline">
    <div class="form-group">
      <select name="curso" id="curso" class="form-control" required>
        <option value="">Escoge el curso</option>
        {% for curso in cursos %}
        <option value="{{ curso.pk }}" data-horainicio="{{ curso.hora_inicio }}" data-horafin="{{ curso.hora_fin }}" data-fechainicio="{{ curso.fecha_inicio }}" data-fechafin="{{ curso.fecha_fin }}">{{ curso.nombre }}</option>
        {% endfor%}
      </select>
    </div>
    <div class="form-group">
      <input type="text" class="form-control datepicker" id="fecha" name="fecha" required placeholder="Escoge la fecha">
    </div>
    <button class="btn btn-primary" type="submit">Listo</button>
    {% csrf_token %}
  </form>
</div>
{% endblock %}

{% block js %}
<script>
  var theURL = '{% url 'reporte_curso' %}';
</script>
<script src="/media/js/vendor/mustache.js"></script>
<script src="/media/js/vendor/moment.js"></script>
<script src="/media/js/actions/reporte-curso.js"></script>
{% endblock %}

{% block templates %}
<script type="text/x-mustache-template" id="tpl-tabla">
  <div class="report">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>DNI</th>
          <th>Apellidos y Nombres</th>
          <th>Asistencias</th>
        </tr>
      </thead>
      <tbody>
        {% templatetag openvariable %}#alumnos{% templatetag closevariable %}
        <tr>
          <td>{% templatetag openvariable %} DNI {% templatetag closevariable %}</td>
          <td>
            {% templatetag openvariable %} apellidos {% templatetag closevariable %},
            {% templatetag openvariable %} nombres {% templatetag closevariable %}
          </td>
          <td class="success">
            <ul class="list-unstyled">
              {% templatetag openvariable %}#registros{% templatetag closevariable %}
              <li>{% templatetag openvariable %} hora {% templatetag closevariable %}:{% templatetag openvariable %} minuto {% templatetag closevariable %}</li>
              {% templatetag openvariable %}/registros{% templatetag closevariable %}
              {% templatetag openvariable %}^registros{% templatetag closevariable %}
              <li class="text-danger">Falta</li>
              {% templatetag openvariable %}/registros{% templatetag closevariable %}
            </ul>
          </td>
        </tr>
        {% templatetag openvariable %}/alumnos{% templatetag closevariable %}
        {% templatetag openvariable %}^alumnos{% templatetag closevariable %}
        <tr>
          <td colspan="3">No hay nadie inscrito :(</td>
        </tr>
        {% templatetag openvariable %}/alumnos{% templatetag closevariable %}
      </tbody>
    </table>
    <button class="btn btn-block btn-success" type="button">Imprimir reporte</button>
  </div>
</script>
<script type="text/x-mustache-template" id="tpl-caption">
  <caption>
    {% templatetag openvariable %} nombre {% templatetag closevariable %}<br><small>{% templatetag openvariable %} fecha_inicio {% templatetag closevariable %} - {% templatetag openvariable %} fecha_fin {% templatetag closevariable %} &mdash; {% templatetag openvariable %} hora_inicio {% templatetag closevariable %} - {% templatetag openvariable %} hora_fin {% templatetag closevariable %}</small><br>
    <small class="text-info">Reporte del día {% templatetag openvariable %} fecha {% templatetag closevariable %}</small>
  </caption>
</script>
{% endblock %}