{% extends 'base.html' %}
{% block content %}
<div class="page-header">
  <h1>Reporte del personal</h1>
</div>
<div class="wrapper">
  <form action="" id="the-form" role="form" method="post" class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control datepicker" id="fecha" name="fecha" required placeholder="Escoge la fecha">
    </div>
    <button class="btn btn-primary get-report" type="submit" data-loading-text="Un momento...">Listo</button>
    {% csrf_token %}
  </form>
</div>
{% endblock %}

{% block js %}
<script>
  var theURL = '{% url 'reporte_personal' %}';
</script>
<script src="/media/js/vendor/mustache.js"></script>
<script src="/media/js/vendor/moment.js"></script>
<script src="/media/js/actions/reporte-personal.js"></script>
{% endblock %}

{% block templates %}
<script type="text/x-mustache-template" id="tpl-tabla">
  <div class="report">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>DNI</th>
          <th>Apellidos y Nombres</th>
          <th>Horario</th>
          <th>Asistencias</th>
        </tr>
      </thead>
      <tbody>
        {% templatetag openvariable %}#personal{% templatetag closevariable %}
        <tr>
          <td>{% templatetag openvariable %} DNI {% templatetag closevariable %}</td>
          <td>
            {% templatetag openvariable %} apellidos {% templatetag closevariable %},
            {% templatetag openvariable %} nombres {% templatetag closevariable %}
          </td>
          <td>
            <ul class="list-unstyled">
              {% templatetag openvariable %}#horarios{% templatetag closevariable %}
              <li>{% templatetag openvariable %} marca {% templatetag closevariable %}</li>
              {% templatetag openvariable %}/horarios{% templatetag closevariable %}
            </ul>
          </td>
          <td class="success">
            <ul class="list-unstyled">
              {% templatetag openvariable %}#registros{% templatetag closevariable %}
              <li>{% templatetag openvariable %} hora {% templatetag closevariable %}:{% templatetag openvariable %} minuto {% templatetag closevariable %}</li>
              {% templatetag openvariable %}/registros{% templatetag closevariable %}
              {% templatetag openvariable %}^registros{% templatetag closevariable %}
              <li class="text-danger">Falta</li>
              {% templatetag openvariable %}/registros{% templatetag closevariable %}
            </ul>
          </td>
        </tr>
        {% templatetag openvariable %}/personal{% templatetag closevariable %}
        {% templatetag openvariable %}^personal{% templatetag closevariable %}
        <tr>
          <td colspan="4">Nada que mostrar :(</td>
        </tr>
        {% templatetag openvariable %}/personal{% templatetag closevariable %}
      </tbody>
    </table>
    <button class="btn btn-block btn-success print" type="button">Imprimir reporte</button>
  </div>
</script>
<script type="text/x-mustache-template" id="tpl-caption">
  <caption>
    <small class="text-info">Reporte del día {% templatetag openvariable %} fecha {% templatetag closevariable %}</small>
  </caption>
</script>
{% endblock %}

{% block modals %}
<div class="modal fade" id="printModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Impresión</h4>
      </div>
      <div class="modal-body">
        <iframe src="" style="zoom:0.60" width="99.6%" height="600" frameborder="0"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}