{% extends 'base.html' %}
{% block content %}
<div class="page-header">
  <h1>Reporte de asistencia total de curso</h1>
</div>
<div class="wrapper">
  <form action="" id="the-form" role="form" method="post" class="form-inline">
    <div class="form-group">
      <select name="curso" id="curso" class="form-control" required>
        <option value="">Escoge el curso</option>
        {% for curso in cursos %}
        <option value="{{ curso.pk }}" data-horainicio="{{ curso.hora_inicio }}" data-horafin="{{ curso.hora_fin }}" data-fechainicio="{{ curso.fecha_inicio }}" data-fechafin="{{ curso.fecha_fin }}">{{ curso.nombre }}</option>
        {% endfor%}
      </select>
    </div>
    <button class="btn btn-primary" type="submit">Listo</button>
    {% csrf_token %}
  </form>
</div>
{% endblock %}

{% block js %}
<script>
  var theURL = '{% url 'reporte_curso_total' %}';
</script>
<script src="/media/js/vendor/mustache.js"></script>
<script src="/media/js/vendor/moment.js"></script>
<script src="/media/js/actions/reporte-total.js"></script>
{% endblock %}

{% block templates %}
<script type="text/x-mustache-template" id="tpl-tabla">
  <div class="report overflow">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>DNI</th>
          <th>Nombres</th>
          {% templatetag openvariable %}#fechas{% templatetag closevariable %}
          <th>{% templatetag openvariable %} fecha {% templatetag closevariable %}</th>
          {% templatetag openvariable %}/fechas{% templatetag closevariable %}
        </tr>
      </thead>
      <tbody>
        {% templatetag openvariable %}#alumnos{% templatetag closevariable %}
        <tr>
          <td>
            {% templatetag openvariable %} DNI {% templatetag closevariable %}
          </td>
          <td>
            {% templatetag openvariable %} apellidos {% templatetag closevariable %},
            {% templatetag openvariable %} nombres {% templatetag closevariable %}
          </td>
          {% templatetag openvariable %}#asistencias{% templatetag closevariable %}
          <td class="success text-right">
            {% templatetag openvariable %} #registros {% templatetag closevariable %}
            {% templatetag openvariable %} hora {% templatetag closevariable %}:{% templatetag openvariable %} minuto {% templatetag closevariable %}
            {% templatetag openvariable %} /registros {% templatetag closevariable %}
            {% templatetag openvariable %} ^registros {% templatetag closevariable %} Falta {% templatetag openvariable %} /registros {% templatetag closevariable %}
          </td>
          {% templatetag openvariable %}/asistencias{% templatetag closevariable %}
        </tr>
        {% templatetag openvariable %}/alumnos{% templatetag closevariable %}
        {% templatetag openvariable %}^alumnos{% templatetag closevariable %}
        <tr>
          <td colspan="10">No hay nadie inscrito :(</td>
        </tr>
        {% templatetag openvariable %}/alumnos{% templatetag closevariable %}
      </tbody>
    </table>
    <button class="btn btn-block btn-success print" type="button">Imprimir reporte</button>
  </div>
</script>
<script type="text/x-mustache-template" id="tpl-caption">
  <caption>
    {% templatetag openvariable %} nombre {% templatetag closevariable %}<br><small>{% templatetag openvariable %} fecha_inicio {% templatetag closevariable %} - {% templatetag openvariable %} fecha_fin {% templatetag closevariable %} &mdash; {% templatetag openvariable %} hora_inicio {% templatetag closevariable %} - {% templatetag openvariable %} hora_fin {% templatetag closevariable %}</small><br>
  </caption>
</script>
{% endblock %}

{% block modals %}
<div class="modal fade" id="printModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Impresión</h4>
      </div>
      <div class="modal-body">
        <iframe src="" style="zoom:0.60" width="99.6%" height="600" frameborder="0"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}