@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

body {
  font-family: 'Open Sans';
  padding-top: 50px;
}

h1,h2,h3,h4,h5,h6,p {
  font-family: 'Open Sans';
}

table {
  margin-top: 20px;
}

caption small {
  font-size: 60%;
}

.alert {
  margin-top:  10px;
}

/* Theme */
.input-lg.input-rlg {
  height: 70px;
  padding: 15px 20px;
  font-size: 36px;
  line-height: 1.33;
  border-radius: 6px;
}

select.input-rlg {
  padding-top: 5px !important;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-error hr {
  border-top-color: #e6c1c7;
}

.alert-error .alert-link {
  color: #953b39;
}

html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.container .credit {
  margin: 20px 0;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.9);
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

caption {
  font-size: 20px;
  font-weight: bold;
}


.overflow {
  overflow-x: auto;
}